.container {
  display: flex;
  text-align: center;
  justify-content: center;
}

.project-name {
  font-size: 15px;
  user-select: none;
  padding-left: 6px;
  padding-right: 6px;
  margin-top: 2px;
  margin-bottom: 2px;
  height: 26px;
  line-height: 26px;
  color:#999;
  align-self: center;
  -webkit-app-region: no-drag;
  display: flex;
}

.project-name-editing {
  font-size: 13px;
  background-color: #1f1f1f;
  border: 1px solid #333337;
  padding-left: 12px;
  padding-right: 10px;
  align-self: center;
  max-width: 150px;
  width: 100px;
  height: 24px;
  line-height: 24px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 3px;
  color: white;
  -webkit-app-region: no-drag;
  display: flex;
}
