.item {
  padding: 10px 14px;
  border-bottom: 1px solid #ccc;

  .install-wrap, .examples {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }

  &:hover {
    background-color: #eee;

    .install-wrap, .examples {
      visibility: visible;
      pointer-events: auto;
      opacity: 1;
    }
  }

  &:focus {
    background-color: #e0e0e0;

    .install-wrap, .examples {
      visibility: visible;
      pointer-events: auto;
      opacity: 1;
    }
  }
}

.item-active {
  background-color: #e0e0e0;

  &:hover {
    background-color: #e0e0e0;
  }

  .install-wrap, .examples {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
  }
}

.top {
  display: flex;
  height: 32px;
}

.name {
  font-weight: bold;
  margin-right: 8px;
}

.author {
  font-weight: bold;
  margin-left: 8px;
  max-width: 400px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #a9a9a9;
}

.placeholder {
  flex: 1;
}

.sentence {
  font-size: 12px;
}

.footer {
  display: flex;
  align-items: center;
}

.more {
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

.version {
  font-size: 12px;
  margin-left: 10px;
}

.examples {
  margin-left: 10px;
  transition: opacity 200ms;
}

.install-wrap {
  display: flex;
  justify-content: flex-end;
  transition: opacity 200ms;
  flex-shrink: 0;
}

.install {
  margin-left: 14px;
}

.versions {
  width: 120px;

  :global(.ant-select-selection) {
		box-shadow: none;
	}
}
